* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: sans-serif;
}

:root {
    --hour-length: 64px;
    --minute-length: 78px;
    --second-length: 104px;
}

.home-page {
    background-color: #000000;
    overflow-x: hidden;
    height: 100vh;
}

.container {
    position: relative;
    display: grid;
    place-items: center;
    height: 100%;
}

.clock {
    width: 300px;
    height: 300px;
    -webkit-box-shadow: 0px 0px 182px 4px rgba(46, 74, 255, 1);
    -moz-box-shadow: 0px 0px 182px 4px rgba(46, 74, 255, 1);
    box-shadow: 0px 0px 182px 4px rgba(46, 74, 255, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateX(0deg) rotateY(-15deg);
    background: linear-gradient(45deg, #000000, #242424);
}

.clock span.nums {
    position: absolute;
    inset: 12px;
    text-align: center;
}

.clock span b {
    color: white;
    display: inline-block;
    font-size: 25px;
    filter: drop-shadow(-3px 3px 1px #000000);
}

.clock::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000958;
    z-index: 5;
    inset: 0;
    margin: auto;
}

.hand#hour i {
    height: var(--hour-length);
}

.hand#min i {
    height: var(--minute-length);
}

.hand#sec i {
    height: var(--second-length);
}

.hand i {
    position: absolute;
    background-color: rgba(46, 74, 255, 1);
    width: 4px;
    border-radius: 8px;
    transform: translateX(-50%);
}

.hand {
    position: absolute;
    display: flex;
    align-items: flex-end;
    transform-origin: center bottom;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(-50%);
    z-index: 4;
}

.date {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15%;
    z-index: 3;
    background-color: #000000;
    border: 2px inset rgba(46, 74, 255, 1);
    display: flex;
    align-items: center;
    gap: 1px;
}

.date span#date-0, .date span#date-1 {
    position: relative;
    color: white;
    font-family: monospace;
    font-size: 18px;
    padding: 0.5px 4px;
    background: linear-gradient(to bottom, #000000, #242424);
}

.day {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
    z-index: 3;
    background-color: #000000;
    border: 2px inset rgba(46, 74, 255, 1);
    text-align: center;
}

.day span#day {
    position: relative;
    color: white;
    font-family: monospace;
    font-size: 18px;
    padding: 0.5px 4px;
    background: linear-gradient(to bottom, #000000, #242424);
}

@keyframes rotate-hands {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}