* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primarybg-color: #121212;
  --primarytext-color: #fafafa;
}

body {
  background-color: var(--primarybg-color);
  color: var(--primarytext-color);
  font-family: Arial, Helvetica, sans-serif;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #f5f5f5; /* Light background for the track */
}

/* Scrollbar itself */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #8c8c8c; /* Gray color for the thumb */
}

/* Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #b0b0b0; /* Darker gray when hovered */
}

.scale-up-ver-bottom {
  transform: translateY(100%);
  animation: scale-up-ver-bottom 1.5s ease-out both; /* Smooth scrolling animation */
  transition: transform 1.5s ease-out;
}

/* Keyframes */
@keyframes scale-up-ver-bottom {
  0% {
    transform: translateY(100%); /* Component starts off-screen */
  }
  100% {
    transform: translateY(0); /* Component fully visible */
  }
}

@view-transition {
  navigation: auto;
}

/* Move In-Out Animation */

@keyframes move-out {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes move-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

::view-transition-old(root) {
   animation: 0.8s cubic-bezier(0.87, 0, 0.13, 1) both move-out;
}

::view-transition-new(root) {
   animation: 0.8s cubic-bezier(0.87, 0, 0.13, 1) both move-in;
}

/* ========== Filter Blur Zoom Animation */

@keyframes blur-out {
   from {
       filter: blur(0px);
       transform: scale(1);
       opacity: 1;
   }

   to {
       filter: blur(20px);
       transform: scale(1.2);
       opacity: 0;
   }
}

@keyframes blur-in {
   from {
       filter: blur(20px);
       transform: scale(1.2);
       opacity: 0;
   }

   to {
       filter: blur(0px);
       transform: scale(1);
       opacity: 1;
   }
}

::view-transition-old(root) {
   animation: 0.4s ease-out both blur-out;
}

::view-transition-new(root) {
   animation: 0.4s ease-in both blur-in;
}


/* ========== Yank Animation */

@keyframes yank-out {
   from {
       transform: translate(0,0);
   }

   to {
       transform: translate(100%, -100%);
   }
}

@keyframes yank-in {
   from {
       transform: translate(-100%, 100%);
   }

   to {
       transform: translate(0,0);
   }
}

::view-transition-old(root) {
   animation: 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) both yank-out;
}

::view-transition-new(root) {
   animation: 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) both yank-in;
}

/* ========== Pop Drop Animation */

@keyframes fall-back {
   from {
       scale: 1;
   }

   to {
       scale: 0.8;
   }
}

@keyframes drop-out {
   from {
       transform: translateY(0);
       opacity: 1;
   }

   to {
       transform: translateY(100%);
       opacity: 0;
   }
}

@keyframes pop-in {
   from {
       transform: translateY(100%);
       opacity: 0;
   }

   to {
       transform: translateY(0);
       opacity: 1;
   }
}

@keyframes come-in {
   from {
       scale: 0.8;
   }

   to {
       scale: 1;
   }
}

::view-transition-old(root) {
   animation: 1s cubic-bezier(0.87, 0, 0.13, 1) both drop-out,
   0.4s cubic-bezier(0.87, 0, 0.13, 1) both fall-back;
}

::view-transition-new(root) {
   animation: 1s cubic-bezier(0.87, 0, 0.13, 1) both pop-in,
   1.4s cubic-bezier(0.87, 0, 0.13, 1) both come-in;
   animation-delay: 0.4s;
}

/* ========== Side Swipe  Animation */

@keyframes fade-back {
   from {
       opacity: 1;
       scale: 1;
   }

   to {
       opacity: 0.5;
       scale: 0.8;
   }
}

@keyframes slide-in {
   from {
       transform: translateX(100%);
       opacity: 0.5;
   }

   to {
       transform: translateX(0);
       opacity: 1;
   }
}

::view-transition-old(root) {
   animation: 1s cubic-bezier(0.87, 0, 0.13, 1) both fade-back;
}

::view-transition-new(root) {
   animation: 1s cubic-bezier(0.87, 0, 0.13, 1) both slide-in;
}

